.text_add_form{
    text-align: right;
}

.text_add_area{
    width: 100%; /* Ширина поля в процентах */
    height: 400px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}

.text_add_button{
    display: inline;
    margin-top: 18px;
}