{% if user.is_authenticated %}

<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'account_render' %}">Вітаємо {{ user.username }}!</a></li>
        <li><a href="{% url 'account_logout' %}">Вихід</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'account_login' %}">Вхід</a></li>
    <li><a href="{% url 'account_signup' %}">Реєстрація</a></li>
</ul>

{% endif %}
