{% extends "app/base.html" %}

{% block content %}
    <div class="selection_block">
        <form class="filters" action="select_texts/">
            {% csrf_token %}
            <label >Lorem<input name="author_texts" type="text"></label>
            <label >Lorem<input name="source_filters" type="text"></label>
            <label >Lorem<input name="uniqueness_filter" type="number" min="0.0" max="100.0"></label>
            <label >Lorem<input name="first_date" type="date"></label>
            <label >Lorem<input name="second_date" type="date"></label>




            <button class="" type="submit">Зробити вибірку</button>
        </form>
    </div>
{% endblock %}