{% extends "app/base.html" %}

{% block content %}


<div class="set_info">
    <p id="number_of_texts" class="selection_header">Кількість текстів: {{set_length}};</p>
    <p id="success_uniqueness_test_border" class="selection_header">Поріг унікальності: {{success_uniqueness_test_border}};</p>
    <p id="number_of_passed" class="selection_header">Кількість текстів, що пройшли перевірку: </p>
    <p id="average_uniqueness" class="selection_header">Середня унікальність: </p>
</div>

<table class="responsive sortable ">
    <tr>
        <th>№</th>
        <th>Джерело/Автор</th>
        <th>Дата завантаження</th>
        <th>Відсоток унікальності</th>
        <th>Ознака проходженя</th>
    </tr>
    {% for text in SelectionSet %}
    <tr>

        <td>
            <a class="selection_content" href="/text/{{text.id}}">№{{ forloop.counter }} </a>
        </td>

        {% if text.author == "web" %}
            <td>
                <a class="selection_content" href="{{ text.source }}">{{ text.source }} </a>
            </td>
        {% else %}
            <td>
                <p class="selection_content">{{ text.author }} </p>
            </td>
        {% endif %}

        <td>
        <p class="selection_content">{{ text.upload_date }} </p>
        </td>

        <td class="">
        <p class="selection_content uniqueness_td">{{ text.uniqueness }} </p>
        </td>

        {% if text.uniqueness >= success_uniqueness_test_border %}
            <td class="passed_td">
                <p class="selection_content">+ </p>
            </td>
        {% else %}
            <td class="">
                <p class="selection_content">- </p>
            </td>
        {% endif %}

    </tr>
    {% endfor %}
</table>

<button id = "download">Завантажити вибірку</button>

{% endblock %}


{% block scripts %}
{% load staticfiles %}

<script src="{% static 'app/scripts/download_selection_set.js' %}"></script>
<script src="{% static 'app/scripts/responsive-tables.js' %}"></script>
<script>

    $('#number_of_passed').text($('#number_of_passed').text() + `${$('.passed_td').length}` + ';');


    number_of_texts = {{set_length}};

    uniqueness = $('.uniqueness_td').text().replace(/\,/g, '.').split(' ');
    uniqueness.pop();
    uniqueness = uniqueness.map(string => +string);
    uniqueness = uniqueness.reduce((sum, current) => sum + current, 0);
    uniqueness /= number_of_texts;

    $('#average_uniqueness').text(($('#average_uniqueness').text() + `${uniqueness.toFixed(2)}` + ';').replace('.',','));

</script>

{% endblock %}


