{% extends "app/base.html" %}

{% block content %}

    {% for i in text %}
        <div class="wrapper">
                <h3 class="page_header">Текст: №{{ i.id }}</h3>
                {% if i.author == "web"   %}
                    <h4>Джерело: <a class="text_source" href="{{ i.source }}">{{ i.source }}</a></h4>
                {% elif i.author != user.username %}
                    <h4 class="text_source">Автор: {{ i.author }}</h4>
                {% endif %}
                <h4 class="text_upload_date">Дата завантаження: {{ i.upload_date }}</h4>
                {% if i.uniqueness == -1.0 %}
                    <h4>Унікальність = не перевірено</h4>
                {% elif i.uniqueness != 101.0 %}
                    <h4>Унікальність = {{i.uniqueness}}</h4>
                {% endif %}
                {% if i.get_sources != -1 %}
                    <div class="sources">Джерела:</div>
                    {% for source in i.get_sources %}
                        <button class="get_source first_text_button" value="{{source}}">Порівняти з текстом № {{source}}</button>
                        <a class="second_text_button" href="http://{{ request.get_host }}/text/{{source}}/">Переглянути текст №{{source}} детальніше</a>
                    {% endfor %}
                {% endif %}

                <div class="first_text">
                    <p id="first_text_area" class="detailed_text_area">{{i.content}}</p>
                </div>
                <div class="second_text">
                    <p id="second_text_area" class="detailed_text_area"></p>
                </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
{% load staticfiles %}

<script src="{% static 'app/scripts/highlighter.js' %}"></script>

{% endblock %}


