{% extends "app/base.html" %}
{% block content %}
    {% for i in text %}
        <div class="text_list">
            {% if i.author == "Unknown" %}
                <a class="text_source" href="{{ i.source }}">Джерело:{{ i.source }}</a>
            {% elif i.author != user.username %}
                <p class="text_source">Автор: {{ i.author }}</p>
            {% endif %}
            <p class="text_upload_date">Дата завантаження: {{ i.upload_date }}</p>
            <p>Унікальність = {{i.uniqueness}}</p>
            <p>Зміст: {{i.content}}</p>
        </div>
    {% endfor %}
{% endblock %}