{% extends "app/base.html" %}

{% block content %}

    {% for i in text %}
        <div class="wrapper">
            <h3 class="page_header">Текст: №{{ i.id }}</h3>
            <div class="first_text">
                {% if i.author == "web" %}
                    <h4>Джерело: <a class="text_source" href="{{ i.source }}">{{ i.source }}</a></h4>
                {% elif i.author != user.username %}
                    <h4 class="text_source">Автор: {{ i.author }}</h4>
                {% endif %}
                <h4 class="text_upload_date">Дата завантаження: {{ i.upload_date }}</h4>
                <p id="uniqueness" style="display: none;">{{i.uniqueness}}</p>
                {% if i.uniqueness == -1.0 %}
                    <h4>Унікальність = не перевірено</h4>
                {% elif i.uniqueness != 101.0 %}
                    <h4>Унікальність = {{i.uniqueness}}</h4>
                {% endif %}

                <h4 class="">Текст:</h4>

                <p id="first_text_area" class="detailed_text_area">{{i.content}}</p>

            </div>
            {% if i.get_sources != -1 %}
            <div class="second_text">

                    <h4 class="sources">Запозичення:</h4>
                    {% for source in i.get_sources %}
                        <div class="source_list {{source}}">
                            <a class="source_link" href="http://{{ request.get_host }}/text/{{source}}/">http://{{ request.get_host }}/text/{{source}}/</a>
                            <button class="source_navigate_button get_source" value="{{source}}">Порівняти з текстом</button>
                        </div>
                    {% endfor %}

                <p id="second_text_area" class="detailed_text_area"></p>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
{% load staticfiles %}

<script src="{% static 'app/scripts/highlighter.js' %}"></script>
<script src="{% static 'app/scripts/get_source.js' %}"></script>
<script src="{% static 'app/scripts/sources_highlighter.js' %}"></script>

<script>
    let uniqueness = $("#uniqueness").html().trim();
    if (uniqueness == '-1,0' || uniqueness == '101,0' || uniqueness == '100,0'){
        $(".first_text").css({"width": "100%"});}
</script>

{% endblock %}


