{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Авторизація{% endblock %}

{% block content %}

<h1 class="auth_header">Авторизація</h1>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="auth_header">Будь ласка авторизуйтесь за допомогою сторонніх акаунтів. Або, <a href="{{ signup_url }}">зареєструйте</a>
акаунт на Antiplag та авторизуйтесь нижче:</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>Якщо ви ще не створили акаунт, тоді
<a href="{{ signup_url }}">зареєструйтеся</a></p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <input class="input" type="text" name="login" placeholder="Логін" required>
  <input class="input" type="password" name="password" placeholder="Пароль" required>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction input" type="submit">Вхід</button>
  <p class="input remember">
    <label for="id_remember">Запам'ятати мене</label>
    <input id="id_remember" class="remember" type="checkbox" name="remember" placeholder="Пароль">
  </p>
  <a class="input button secondaryAction" href="{% url 'account_reset_password' %}">Забули пароль?</a>
</form>

{% endblock %}
