{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Вийти{% endblock %}

{% block content %}
<h1 class="auth_header">Вийти</h1>

<p class="auth_header">Ви впевнені, що хочете вийти?</p>

<form class="login" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input class="input" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="input" type="submit">Вихід</button>
</form>


{% endblock %}
