{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Скинути пароль{% endblock %}

{% block content %}

    <h1 class="auth_header">Скинути пароль</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="auth_header">Забули пароль? Введіть свою e-mail адресу нижче, і ми відправимо вам повідомлення з інструкціями для зміни паролю</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset login">
        {% csrf_token %}
        <input class="input" type="email" name="email" placeholder="E-mail" required>
        <button class="input" type="submit">Скинути мій пароль</button>
    </form>

{% endblock %}
