{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="auth_header">Реєстрація</h1>

<p class="auth_header">Вже є акаунт? Тоді будь ласка <a href="{{ login_url }}">авторизуйтеся</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <input class="input" type="text" name="username" placeholder="Логін" required>
  <input class="input" type="email" name="email" placeholder="E-mail" required>
  <input class="input" type="tel" name="password1" placeholder="Пароль" required>
  <input class="input" type="text" name="password2" placeholder="Пароль (повторно)" required>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="input" type="submit">Реєстрація &raquo;</button>
</form>

{% endblock %}
