.selection_block{
    width: 100%;
    background-color: #fdfdfd;
    border: 2px solid #ffd429;
    border-radius: 0px 0px 18px 18px;
    padding: 15px;
}

.filters{
    border: 1px solid gray;
    padding: 5px;
}

.name_filter_label{
    width: 100%;
    text-align: center;
}

.name_filter_input_field{
    float: right;
    width: 50%
}

.filter_labels{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.date_filter_label{
    width: 100%;
    text-align: center;
}

.select_texts{
    float: right;
    margin-top: 15px;
    padding: 10px 0px;
}

.selection_content{
    margin: 0px;
}

.sortable{
    width: 100%;
}

th,td{
    border: 1px solid gray;
}

#download{
    float: right;
}

.set_info{
    border: 1px solid gray;
    border-bottom: 0;
    padding: 10px;
    background-color: #f1f1f1;
}

p#average_uniqueness{
    margin: 0;
}

@media (max-width: 520px) {
    .filter_labels{
        flex-direction: column;
    }
}

@media (max-width: 558px) {
    table{
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 690px) {
	.input_field{
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 767px) {

}