.wrapper{
    width: 100%
}

.get_source{
    display: inline-block;
}

.second_text_details{
    float: right;
    float: right;
}

.first_text{
    float: left;
    width: 100%
}

.second_text{
    float: right;
    width: 48%;
    display: none;
}

.first_text_button{
    display: inline-block;
    float: left;
    width: 48%;
    margin-bottom: 10px;
}

.second_text_button{
    display: inline-block;
    float: right;
    width: 48%;
    margin-bottom: 10px;
    background-color: #ffd429;
    padding: 22px 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: 0px solid #ffd429;
}

.detailed_text_area{
    overflow: auto;
    height: 65vh;
}

.text_list{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.text_details{
    padding: 3px 0;
    width: 100%;
}

.text_area{
    display: inline-block;
    width: 100%;
    height: 100%;
    resize: none;
}

.text_info{
    width: 100%;
}

.text_space{
    width: 20px;
}

.burrowed_content{
    color: red;
}

.orange {
  background: orange;
}
.tomato {
  background: tomato;
}
.pink {
  background: pink;
}

@media (max-width: 600px) {
	.text_area{
        height: 84px;
    }

    .text_details{
        margin: 0 0 10px;
    }
}