.text_list{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.text_details{
    padding: 3px 0;
    width: 100%;
}

.text_area{
    display: inline-block;
    width: 100%;
    height: 100%;
    resize: none;
}

.text_info{
    width: 100%;
}

.text_space{
    width: 20px;
}

.burrowed_content{
    color: red;
}

@media (max-width: 600px) {
	.text_area{
        height: 84px;
    }

    .text_details{
        margin: 0 0 10px;
    }
}